<div class="row px-0">
  <div class="col px-0 text-center mt-4">
    <img
      src="./assets/img/logo-vpodium.png"
      alt="virtual podium logo"
      srcset=""
      class="main-logo"
    />
    <img
      src="./assets/img/logo-vrl.png"
      alt="virtual podium logo"
      srcset=""
      class="main-logo"
    />

    <!-- <h2 class="text-hot-pink">Welcome {{ name }}</h2> -->
    <p class="text-info">
      Please wait while we load your Virtual Experience...
    </p>

    <span class="text-info custom-position">
      Reccommended browser is
      <a href="{{ storeLink }}">Google Chrome</a>
    </span>
  </div>
</div>
