/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  display: block;
  background-color: #000010;
}

$hot-pink: #11afed;
$hot-pink-dark: darken($hot-pink, 10);
$hot-pink-light: lighten($hot-pink, 10);

.text-hot-pink {
  color: $hot-pink;
}

.btn-primary {
  background-color: $hot-pink;
  border-color: $hot-pink-light;
  color: #ffffff;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $hot-pink-dark;
  border-color: $hot-pink-light;
  box-shadow: 0 0 0 0.2rem darken($hot-pink, 20);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: $hot-pink-dark;
  border-color: $hot-pink-light;
  box-shadow: 0 0 0 0.2rem darken($hot-pink, 20);
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: $hot-pink-dark;
  border-color: $hot-pink-light;
  box-shadow: 0 0 0 0.2rem darken($hot-pink, 20);
}
